<!DOCTYPE HTML>
<HTML>
<HEAD>
<TITLE>
	RESULT 
</TITLE>
</HEAD>

<BODY style="background-color: rgb(210, 209, 201);">
    <style>
        h1 {color:rgb(4, 0, 255);}
        p {color:rgb(214, 47, 28);}

        div {text-align: center;}
        
      </style>
      
<div style="text-align: center;">

  <h1>RESULT </h1>
  
  <br>
  <br>


   <b><h1>ESTIMATED OUTPUT RESULT </h1></b>
   <br>
   <div style="font-size: 25px;">
   <p> EFFORT           : <b>{{ts1}}</b></p>
   <p> COST             : <b>{{ts2}}</b></p>
   <p> MODULES          : <b>{{ts3}}</b></p> 
   <p> MANPOWER         : <b>{{ts4}}</b></p><br><br>
   
  </div>
  </div>
</BODY>



</HTML>